<div class="navbar navbar-default navbar-static-top no-margin" role="navigation">
  <div class="container">
    <a href="/" class="navbar-brand"><%= siteName %></a>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"></a>
    </div>
    <div class="collapse navbar-collapse navbar-right">
      <ul class="nav navbar-nav">
        <li><a href="/about">About</a></li>
        <li><a href="/contact"><i class="fa fa-lg fa-fw fa-phone"></i> Contact</a></li>
        <% if (user) { %>
        <li class="dropdown">
          <a href="#" data-toggle="dropdown" class="dropdown-toggle">
            <img src="<%= user.profile.picture || user.gravatar(30) %>" alt="Avatar" style="height: 30px; width: 30px; margin: -15px 5px;"  />
            <%= user.profile.name || user.email || user.id %>
            <i class="fa fa-fw fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/account"><span class="fa fa-lg fa-fw fa-user"></span> My Account</a></li>
            <li class="divider"></li><li><a href="/logout"><span class="fa fa-lg fa-fw fa-sign-out"></span> Logout</a></li>
          </ul>
        </li>
        <% } else { %>
        <li><a href="/login"><i class="fa fa-lg fa-fw fa-sign-in"></i> Log in</a></li>
        <li><a href="/signup"><i class="fa fa-lg fa-fw fa-user-plus"></i> Sign up</a></li>
        <% } %>
      </ul>
    </div>
  </div>
</div>