<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <a href="/" class="navbar-brand"><i class="fa fa-lg fa-fw fa-home"></i> <%= siteName %></a>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse">
      <form name="theme" method="post" action="/theme" class="navbar-left navbar-btn form-inline">
        <input type="hidden" name="_csrf" value="<%= _csrf %>">
        <div class="form-group">
          <select name="theme-name" class="form-control selectpicker">
            <option selected="selected" disabled="disabled">Theme<option>
            <option value="/css/bootstrap.css">Bootstrap Default</option>
            <option value="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/cerulean/bootstrap.min.css">Cerulean</option>
            <option value="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/cosmo/bootstrap.min.css">Cosmo</option>
            <option value="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/cyborg/bootstrap.min.css">Cyborg</option>
            <option value="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/darkly/bootstrap.min.css">Darkly</option>
            <option value="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/flatly/bootstrap.min.css">Flatly</option>
            <option value="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/journal/bootstrap.min.css">Journal</option>
            <option value="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/paper/bootstrap.min.css">Paper</option>
            <option value="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/readable/bootstrap.min.css">Readable</option>
            <option value="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/sandstone/bootstrap.min.css">Lumen</option>
            <option value="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/simplex/bootstrap.min.css">Sandstone</option>
            <option value="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/slate/bootstrap.min.css">Slate</option>
            <option value="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/spacelab/bootstrap.min.css">Spacelab</option>
            <option value="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/superhero/bootstrap.min.css">Superhero</option>
            <option value="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/united/bootstrap.min.css">United</option>
            <option value="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/yeti/bootstrap.min.css">Yeti</option>
          </select>
          <script>
            $(document).on('change', 'select[name="theme-name"]', function() {
              $('form[name="theme"]').submit();
            });
          </script>
        </div>
      </form>
      <ul class="nav navbar-right navbar-nav">
        <li><a href="/posts" ><i class="fa fa-lg fa-fw fa-list"></i> View Posts</a></li>
        <li><a href="/contact"><i class="fa fa-lg fa-fw fa-phone"></i> Contact</a></li>
        <% if (user) { %>
        <li class="dropdown">
          <a href="/profile" data-toggle="dropdown" class="dropdown-toggle">
            <img src="<%= user.profile.picture || user.gravatar(30) %>" alt="Avatar" class="img-circle" style="position: relative; top: -2px; height: 30px; width: 30px; margin: -15px 5px;"  />
            <%= user.profile.name || user.email || user.id %>
            <i class="fa fa-fw fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/profile"><span class="fa fa-lg fa-fw fa-user"></span> Profile</a></li>
            <li class="divider"></li><li><a href="/logout"><span class="fa fa-lg fa-fw fa-sign-out"></span> Logout</a></li>
          </ul>
        </li>
        <% } else { %>
        <li><a href="/login" data-toggle="modal" data-target="#loginModal"><i class="fa fa-lg fa-fw fa-sign-in"></i> Log in</a></li>
        <li><a href="/signup" data-toggle="modal" data-target="#signupModal"><i class="fa fa-lg fa-fw fa-user-plus"></i> Sign up</a></li>
        <% } %>
      </ul>
      <a class="navbar-btn navbar-right btn btn-success" href="/post/new" ><i class="fa fa-lg fa-fw fa-plus"></i> New Post</a>
    </div>
  </div>
</div>