<h1 class="page-header">View posts</h1>
<% if (postCount > 0) { %>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <% include ../partials/posts-pagination %>
  </div>
  <table class="table table-striped">
    <tbody>
    <% posts.forEach(function(post) { %>
      <tr>
        <td class="col-xs-7 col-sm-8 col-md-9 lead">
          <strong><a href="/post/<%= post._id %>"><i class="fa fa-file-text-o"></i> <%= post.title %></a></strong>
        </td>
        <td class="col-xs-5 col-sm-4 col-md-3 text-right lead text-muted">
          <i class="fa fa-clock-o"></i> <time class="timeago" datetime="<%= post.date.toISOString() %>"><%= post.date.toDateString() %></time>
        </td>        
      </tr>
    <% }) %>
    </tbody>
  </table>
  <div class="panel-footer">
    <% include ../partials/posts-pagination %>
  </div>
</div>
<% } else { %>
  <p class="lead">There are no posts yet.</p>
  <p><a class="btn btn-primary" href="/post/new"><i class="fa fa-lg fa-fw fa-plus"></i> Create a new post</a></p>
<% } %>