<div class="row">
  <div class="col-sm-9">
    <h1 class="page-header"><%= post.title %></h1>
    <p class="lead"><%= post.body %></p>
  </div>
  <div class="col-sm-3">
    <h3>Related posts</h3>
  </div>
</div>