<br/>
<div class="row">
  <div class="col-sm-12">
    <div class="jumbotron">
      <h1><%= siteName %> <small>home page</small></h1>
      <br/>
      <p>
        A template for node.js + express + ejs + bootstrap + mongodb web based applications
      </p>
    </div>
  </div>
</div>
