<br/>
<div class="row">
  <div class="col-sm-12">
    <div class="jumbotron">
      <h1><%= site.name %> <small>home page</small></h1>
      <br/>
      <p>
        A template for node.js + express + ejs + bootstrap + mongodb web based applications
      </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading"><h4>Heading</h4></div>
      <div class="panel-body">
        <p>
          Lorem ipsum dolor sit amet, nam eu unum porro primis. Pro cu habeo nulla, sed aperiam complectitur ei, usu voluptua suavitate signiferumque te. Delicata mediocrem no sed, minim nihil suavitate cum ex. Nam te utamur imperdiet philosophia. Cu est affert inermis commune.
        </p>
        <p>
          Ut dolorum mediocritatem his. Vidisse integre contentiones ei nam, ad eum tollit regione rationibus. Alterum senserit expetenda an ius, est te mucius consetetur dissentiunt. Usu cu wisi feugiat praesent, oratio euismod antiopam eam an. Vis cibo prodesset cu, te hinc velit option quo.
        </p>
        <p>
          Te ius ponderum adversarium, pri ne perfecto conclusionemque, soleat adipiscing contentiones eos no. Nam quaestio conceptam an, dico sint rationibus eam ea, eros aperiri eum an. Solum latine mea ea, nam dictas scripta ad, vel ut debet virtute accumsan. Eam ea dicat luptatum, nam alterum aliquam ea.
        </p>
        <p>
          Cu vix agam ponderum, mutat lucilius concludaturque eum an. Nec ei clita partem, in eum ferri habeo adhuc. Ne legendos gloriatur sea, qui ea sadipscing definitionem. Ei mundi nullam equidem eum, pro erant dolorem lucilius et, timeam delenit te eum. No viris urbanitas his.
        </p>
        <p>
          Tale torquatos at vim. Duo libris molestie id, vix ea eius erat nulla. An inani malorum nam. At pro malis iriure. Sed falli liber in, nobis quodsi aliquip te nam.
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading"><h4>Heading</h4></div>
      <div class="panel-body">
        <p>
          Lorem ipsum dolor sit amet, nam eu unum porro primis. Pro cu habeo nulla, sed aperiam complectitur ei, usu voluptua suavitate signiferumque te. Delicata mediocrem no sed, minim nihil suavitate cum ex. Nam te utamur imperdiet philosophia. Cu est affert inermis commune.
        </p>
        <p>
          Ut dolorum mediocritatem his. Vidisse integre contentiones ei nam, ad eum tollit regione rationibus. Alterum senserit expetenda an ius, est te mucius consetetur dissentiunt. Usu cu wisi feugiat praesent, oratio euismod antiopam eam an. Vis cibo prodesset cu, te hinc velit option quo.
        </p>
        <p>
          Te ius ponderum adversarium, pri ne perfecto conclusionemque, soleat adipiscing contentiones eos no. Nam quaestio conceptam an, dico sint rationibus eam ea, eros aperiri eum an. Solum latine mea ea, nam dictas scripta ad, vel ut debet virtute accumsan. Eam ea dicat luptatum, nam alterum aliquam ea.
        </p>
        <p>
          Cu vix agam ponderum, mutat lucilius concludaturque eum an. Nec ei clita partem, in eum ferri habeo adhuc. Ne legendos gloriatur sea, qui ea sadipscing definitionem. Ei mundi nullam equidem eum, pro erant dolorem lucilius et, timeam delenit te eum. No viris urbanitas his.
        </p>
        <p>
          Tale torquatos at vim. Duo libris molestie id, vix ea eius erat nulla. An inani malorum nam. At pro malis iriure. Sed falli liber in, nobis quodsi aliquip te nam.
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading"><h4>Heading</h4></div>
      <div class="panel-body">
        <p>
          Lorem ipsum dolor sit amet, nam eu unum porro primis. Pro cu habeo nulla, sed aperiam complectitur ei, usu voluptua suavitate signiferumque te. Delicata mediocrem no sed, minim nihil suavitate cum ex. Nam te utamur imperdiet philosophia. Cu est affert inermis commune.
        </p>
        <p>
          Ut dolorum mediocritatem his. Vidisse integre contentiones ei nam, ad eum tollit regione rationibus. Alterum senserit expetenda an ius, est te mucius consetetur dissentiunt. Usu cu wisi feugiat praesent, oratio euismod antiopam eam an. Vis cibo prodesset cu, te hinc velit option quo.
        </p>
        <p>
          Te ius ponderum adversarium, pri ne perfecto conclusionemque, soleat adipiscing contentiones eos no. Nam quaestio conceptam an, dico sint rationibus eam ea, eros aperiri eum an. Solum latine mea ea, nam dictas scripta ad, vel ut debet virtute accumsan. Eam ea dicat luptatum, nam alterum aliquam ea.
        </p>
        <p>
          Cu vix agam ponderum, mutat lucilius concludaturque eum an. Nec ei clita partem, in eum ferri habeo adhuc. Ne legendos gloriatur sea, qui ea sadipscing definitionem. Ei mundi nullam equidem eum, pro erant dolorem lucilius et, timeam delenit te eum. No viris urbanitas his.
        </p>
        <p>
          Tale torquatos at vim. Duo libris molestie id, vix ea eius erat nulla. An inani malorum nam. At pro malis iriure. Sed falli liber in, nobis quodsi aliquip te nam.
        </p>
      </div>
    </div>
  </div>
</div>