<div class="row">
  <div class="col-sm-12">
    <form name="theme" method="post" action="/theme" class="form-inline">
      <input type="hidden" name="_csrf" value="<%= _csrf %>">
      <div class="form-group">
        <select name="theme-name" class="form-control selectpicker">
          <option selected="selected" disabled="disabled">Change theme...<option>
          <option value="/css/bootstrap.css">Bootstrap Default</option>
          <option value="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/cerulean/bootstrap.min.css">Cerulean</option>
          <option value="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/cosmo/bootstrap.min.css">Cosmo</option>
          <option value="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/cyborg/bootstrap.min.css">Cyborg</option>
          <option value="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/darkly/bootstrap.min.css">Darkly</option>
          <option value="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/flatly/bootstrap.min.css">Flatly</option>
          <option value="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/journal/bootstrap.min.css">Journal</option>
          <option value="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/lumen/bootstrap.min.css">Lumen</option>
          <option value="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/paper/bootstrap.min.css">Paper</option>
          <option value="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/readable/bootstrap.min.css">Readable</option>
          <option value="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/sandstone/bootstrap.min.css">Lumen</option>
          <option value="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/simplex/bootstrap.min.css">Sandstone</option>
          <option value="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/slate/bootstrap.min.css">Slate</option>
          <option value="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/spacelab/bootstrap.min.css">Spacelab</option>
          <option value="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/superhero/bootstrap.min.css">Superhero</option>
          <option value="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/united/bootstrap.min.css">United</option>
          <option value="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/yeti/bootstrap.min.css">Yeti</option>
        </select>
        <script>
          $(document).on('change', 'select[name="theme-name"]', function() {
            $('form[name="theme"]').submit();
          });
        </script>
      </div>
    </form>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-sm-12">
    <div class="jumbotron">
      <h1><%= siteName %> <small>home page</small></h1>
      <br/>
      <p>
        A template for node.js + express + ejs + bootstrap + mongodb web based applications
      </p>
    </div>
  </div>
</div>
